@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-Montserrat sm:px-12 2xl:px-[250px];
    }

    main {
        @apply mx-3 my-8 lg:mx-0 lg:my-14;
    }
}

@layer components {
    .gallery {
        @apply grid grid-cols-3;
        grid-template-areas: 
        'photo-1 photo-2 photo-2'
        'photo-3 photo-3 photo-4'
        'photo-5 photo-6 photo-4'
        ;
    }

    .photo-1 {
        grid-area: photo-1;
    }

    .photo-2 {
        grid-area: photo-2;
    }

    .photo-3 {
        grid-area: photo-3;
    }

    .photo-4 {
        grid-area: photo-4;
    }

    .photo-5 {
        grid-area: photo-5;
    }

    .photo-6 {
        grid-area: photo-6;
    }

    .card {
        @apply bg-sky-300 hover:scale-95 transition duration-500 rounded-lg overflow-hidden relative;
    }
}

